<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  main page </title>
</head>
<body>
  Please login from here
  <br>
  <button>
    <a href="/login">
      login
    </a>
  </button>

  <div>
    Or, Go to main page if you already signed in
    <br>
    <button>
      <a href="/main">
        main page
      </a>
    </button>
  </div>
</body>
</html>
